body{
    background-image:url(Photos/wallpaperflare.com_wallpaper_5.jpg);
    background-color: white;
    background-position: center;
    background-size:cover;
    color:white;
    font-family: sans-serif;
    text-align:center;
    overflow-x: hidden;
}

.logo{
    font-weight:bold;
    padding: 0 0 0 60px;
    font-size:40px
}

.S{
    color:#0063a3
}

.E{
    color:#d2d2d2
}

.M{
    color:#73005b
}


a{
    text-decoration: none;
    font-weight: bold;
}

.top_list{
    padding: 0px;
    font-size: 25px;
}

a:visited{
    color:red;
}

a:link{
    color:red;
}

a:hover{
    color:blue;
    animation-name: links;
    animation-duration: 0.5s;
}

.top{
    display:flex;
    justify-content: space-between;
    border:1px solid lightgreen;
    background-color: #141d28;
    align-items: center;
}

/* 
*this is for making the logo and lists on the top page look awesome 
*/





.long{
    width:600px
}

li{
    display: inline-block;
    padding: 10px 50px;
}

.pfp{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position:relative;
    top: 1em;
}

.sidebar{
    float: left;
    display: grid;
    width:120px;
    grid-template-rows: 50px minmax(auto,auto);
    border: 1px solid black;
}

.exist{
    background-color: #666;
}

.poem,.thx{
    border:1px solid black;
    width:600px;
    animation-name: poem;
    animation-duration: 3s;
    margin-left: auto;
    margin-right: auto;
}

.description{
    border:1px solid black;
    width:900px;
    animation-name: poem;
    animation-duration: 3s;
    margin-left: auto;
    margin-right: auto;
}

.text{
    font-size:120%;
    color:aqua;
}

h1,h2,h4{
    position: relative;
    left:-60px;
    color:greenyellow;
    animation-name: h1;
    animation-duration: 2s;
    margin-left: 150px;
}

.Jack {
    color:#7878f0
}

.Bryan,.Bot_text,.alert {
    color: red;
}

table, th, td {
    border:1px solid royalblue;
    text-align:center;
    animation-name: table;
    animation-duration: 3s;
    margin-left: auto;
    margin-right: auto;
}

th,td{
    padding:10px
}

.contact{
    width: 20px;
}

.version::before{
    content: "v0.11";
    float:left;
}

/*
*Animations
 */
 
 @keyframes h1{
    0% {opacity:0;}
    100% {opacity:100;}
}

@keyframes poem{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes table{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes links{
    0% {color:red;}
    100%{color:blue;}
}
